@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

/* Style Guide */

:root {
  --grey-color: #525665;
  --black-color: #2f2f2f;
  --darker-color: #2a2c32;
  --light-blue: #7390f9;
  --main-button-color: #ff774c;
  --secondary-button-color: #242f65;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", serif;
}

/* Main Navigation */

.navigation {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
}

nav .nav-link {
  color: var(--darker-color);
}

nav .nav-link:hover {
  color: var(--grey-color);
}

nav .active {
  color: white;
  background: var(--darker-color);
  border: none;
  border-radius: 20px;
}

nav .active:hover {
  color: white;
  background: var(--light-blue);
  transition: all 100ms ease-in-out;
}

nav .active:visited {
  color: white;
}

nav a:visited {
  color: var(--grey-color);
}

/* Homepage Hero Section */

.hero-main {
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding: 120px 0;
  border-radius: 20px;
}

.hero-main h1 {
  color: var(--secondary-button-color);
  font-size: 100px;
}

.hero-main h2 {
  font-family: "Open Sans", sans-serif;
  color: var(--secondary-button-color);
  font-size: 50px;
}

.intro {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: var(--secondary-button-color);
  font-size: 50px;
}

.name {
  font-weight: 600;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: var(--main-button-color);
  font-size: 50px;
}

.years {
  font-size: 35px;
  font-weight: 700;
  color: white;
  background: var(--secondary-button-color);
  border: none;
  border-radius: 30px;
  padding: 5px 20px;
}

.company {
  font-family: "Open Sans", sans-serif;
  text-decoration: underline;
  font-weight: 800;
  color: var(--light-blue);
  font-size: 50px;
}

.blue-btn {
  color: white;
  border: none;
  background: var(--light-blue);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 30px;
}

.black-btn {
  color: white;
  border: none;
  background: var(--darker-color);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 30px;
}

/* Resume Hero Section */

.hero-resume {
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding: 80px 0;
  border-radius: 20px;
}

.hero-resume h1 {
  color: var(--secondary-button-color);
  font-size: 100px;
}

.back-btn {
  color: var(--darker-color);
  text-decoration: none;
  font-size: 14px;
}

.back-btn:hover {
  color: var(--grey-color);
}

.back-arrow {
  padding-right: 5px;
}

/* Work Section */

section a {
  color: var(--light-blue);
  font-weight: bold;
}

section h2 {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--secondary-button-color);
}

.card-title {
  font-size: 30px;
}

.card-text {
  color: var(--grey-color);
  font-family: "Open Sans", sans-serif;
}

.card {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.card-body-1 {
  background: #edf0f9;
}

.card-body-2 {
  background: #eaeaea;
}

.card-body-3 {
  background: #b1e9fa;
}

.card-body-4 {
  background: #f5e7f4;
}

.card-body-5 {
  background: #e4fcf3;
}

.card-body-6 {
  background: #fff4f0;
}

.fa-brands {
  font-size: 25px;
  padding: 3px;
}

.html {
  color: #f16529;
}

.css {
  color: #2465f1;
}

.js {
  color: #e6c62f;
}

.bootstrap {
  color: #7b11f8;
}

.orange-btn {
  color: white;
  border: none;
  background: var(--main-button-color);
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  padding: 10px 30px;
}

.link-icon {
  padding-left: 5px;
  font-size: 13px;
}

/* Resume Experience & Work Section */

.col-bg {
  background-color: #fbfafd;
  border: 1px solid;
  border-color: #f4f0fd;
  border-radius: 10px;
}

.resume h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--secondary-button-color);
  margin: 0;
  padding: 0;
}

.resume h4 {
  font-size: 16px;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
  color: var(--light-blue);
}

.education-info,
.work-date {
  font-family: "Mulish";
  font-weight: 300;
  font-size: 14px;
  color: #525665;
  margin: 0;
  padding: 0;
}

.work-info {
  font-family: "Mulish";
  font-weight: 300;
  font-size: 14px;
  color: #525665;
  margin: 0;
  padding: 0;
}

.text-emphasis {
  font-weight: bold;
}

.fa-ellipsis {
  color: var(--main-button-color);
}

/* Skills Section */

.skills {
  font-size: 20px;
  font-weight: 500;
  color: var(--light-blue);
  font-family: "Open Sans", sans-serif;
  background: #f5f5f5;
  border-radius: 10px;
}

/* Certifications Section */

.carousel-inner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* Contact Section */

section .contact-box {
  font-family: "Open Sans", sans-serif;
  background-image: url(../images/contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
  border-radius: 20px;
}

section h1 {
  color: var(--secondary-button-color);
  font-size: 60px;
}

.work-together {
  color: var(--grey-color);
  font-size: 20px;
}

.email-icon {
  font-size: 18px;
}

/* Footer Section */

footer {
  color: white;
  font-family: "Open Sans", sans-serif;
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
}

footer a {
  text-decoration: none;
}

/* Media Queries */

@media screen and (max-width: 537px) {
  .hero-main {
    background-image: none;
    padding: 20px 0;
  }

  .hero-main h1 {
    font-size: 30px;
  }

  .hero-main h2 {
    font-size: 20px;
  }

  .title {
    font-size: 20px;
  }

  .hero-main p {
    font-size: 20px;
  }

  .years {
    font-size: 20px;
    border-radius: 30px;
    padding: 5px 10px;
  }

  .company {
    font-size: 20px;
  }

  .blue-btn {
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 0;
  }

  .black-btn {
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 0;
  }
}
